@charset "utf-8";

body {
	overflow-x: hidden;
	background: black;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
	&.dot-scroll {
		&, * {
			cursor: none !important;
		}
	}

	&.disable-scroll {
		overflow-y: hidden;
		height: 100% !important;
	}
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

body,
html, #root {
	margin: 0;
	width: 100%;
	min-height: 100svh;
}

#root {
	flex-direction: column;
	justify-content: center;
	display: flex;
}
